version: "3.8"

services:
  mongodb:
    image: mongo:latest
    container_name: stock_investor_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    restart: always

  redis:
    image: redis:latest
    container_name: stock_investor_redis
    ports:
      - "6380:6379"
    restart: always

volumes:
  mongodb_data:
